[include]
    path = ~/.gitconfig.local
[core]
    editor = nvim
    excludesfile = ~/.gitignore
    autocrlf = input
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    ignorecase = false
    pager = "diff-so-fancy | less --tabs=1,5 -R"
[web]
    browser = google-chrome
[rerere]
    enabled = 1
    autoupdate = 1
[branch]
    autosetuprebase = always
[merge]
    tool = vimdiff
    conflictstyle = diff3
[diff]
    tool = vimdiff
[push]
    default = simple
[user]
    useconfigonly = true
[color]
  pager = true
  ui = auto
  status = auto
  diff = auto
  branch = auto
  showBranch = auto
  interactive = auto
  grep = auto
[color "status"]
  header = black bold
  branch = cyan
  nobranch = red
  unmerged = red
  untracked = cyan
  added = cyan
  changed = red
[color "diff"]
  meta = yellow bold
  frag = black bold
  func = blue
  old = red strike
  new = cyan
  commit = blue
  whitespace = red
  context = normal
[color "branch"]
  current = cyan
  local = blue
  remote = magenta
  upstream = magenta
  plain = normal
[color "decorate"]
  branch = blue
  remoteBranch = magenta
  tag = magenta
  stash = cyan
  HEAD = blue
[color "interactive"]
  prompt = red
  header = red bold
  error = red
  help = black bold
[color "grep"]
  context = normal
  match = cyan
  filename = blue
  function = blue
  selected = normal
  separator = red bold
  linenumber = normal
