<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Pluralsight Artifactory" value="http://repository.vnerd.com/artifactory/api/nuget/nuget-pluralsight" />
  </packageSources>
</configuration>